.h-10 {
  height: 10% !important;
}
.h-80 {
  height: 80% !important;
}
.h-90 {
  height: 90% !important;
}
.w-10 {
  width: 10% !important;
}
.w-30 {
  width: 30% !important;
}
.w-20 {
  width: 20% !important;
}
.mw-20 {
  max-width: 20% !important;
}
.clerk-bill-item:hover {
  border-bottom: 1px red solid !important;
}
.admin,
.clerk {
  padding-bottom: 10vh;
}
.navbar {
  height: 10vh;
}
@media (min-height: 500px) {
  .navbar {
    height: 50px;
  }
  .admin,
  .clerk {
    padding-bottom: 50px;
  }
}
